.navbar {
    background-color: #0A68D4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a, .navbar-links button {
    margin-left: 20px;
    padding: 8px 16px;
    background: none;
    color: white;
    border: none;
    text-decoration: none;
}

.navbar-links a:hover, .navbar-links button:hover {
    background-color: #0056b3;
}