body {
    font-family: Arial, sans-serif;
    background: url("../images/background-image.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Adding an overlay for better text visibility */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better visibility */
    z-index: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    position: relative;
    z-index: 1; /* Make sure the form appears above the overlay */
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px;
}

label {
    font-weight: bold;
    color: #FFF; /* White text */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Text shadow for legibility */
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45A847;
}
