/* HomePage.css */
.home-page {
  text-align: center;
  margin-top: 50px;
}

.home-page h1 {
  font-size: 48px;
  color: #0A68D4;
}

.home-page p {
  font-size: 24px;
  color: #555;
}

.home-page-buttons {
  margin-top: 30px;
}

.home-page .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  color: white;
  background-color: #0A68D4;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-page .btn:hover {
  background-color: #084a9d;
}
