.header {
    background-color: #0A68D4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo .navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navigation .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.logout-button {
    color: white;
    background-color: red; /* Added specific style */
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation .nav-link:hover, .logout-button:hover {
    background-color: #084a9d;
    text-decoration: underline;
}
